{# {% extends "general/layout.html" %} #}
 {% extends "layout.html" %}

{% block content %}
    <h1>GENERAL</h1>
    <h2>Home Page</h2>
    <p>
        <img id="timg" src= '/icons/one.svg' style="width:50px;border:1px solid blue">
    </p>
    <p>
        <button id="hide">Скрыть</button>
        <button id="show">Показать</button>
        <button id="toggle">Переключить</button>
    </p>
    <p style="margin-top:30px">
        
        <label>
            Укажите язык прогр-я
            <input id="inp" name="inp" type="text" value="" placeholder="любой текст" >
        </label>
        <button id="btn">Получить данные</button>
        <p id="res"></p>
    </p>
    
    <div class="owl-carousel owl-theme">
        <div class="item"><h4>1</h4></div>
        <div class="item"><h4>2</h4></div>
        <div class="item"><h4>3</h4></div>
        <div class="item"><h4>4</h4></div>
        <div class="item"><h4>5</h4></div>
        <div class="item"><h4>6</h4></div>
        <div class="item"><h4>7</h4></div>
        <div class="item"><h4>8</h4></div>
        <div class="item"><h4>9</h4></div>
        <div class="item"><h4>10</h4></div>
        <div class="item"><h4>11</h4></div>
        <div class="item"><h4>12</h4></div>
    </div>



    <script>
        $(function() {
          $('#timg').bind('click', function() {
           alert('!!! ' + $('h2').text())
        });

        $("#hide").click(function(){
            $("#timg").hide();
        });
        $("#show").click(function(){
            $("#timg").show();
        });
        $('#toggle').click(function(){
            $('#timg').toggle()
        })

        $('#btn').click(function(){

            $.getJSON('{{url_for("general.get_data")}}', {
				  txt: $('input[name="inp"]').val(),
				}, function(data) {
				  $("#res").text(data.result);
				});
				// return false;
			  });

    })
    $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
      </script>


{% endblock content %}
